body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
#map{
    width:100%; 
    height: 650px;
}
.title{
    position: absolute;
    z-index: 100;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    top: 100px;
    left: 100px;
    bottom:0px;
}
.search-container{
border-radius: 30px;
position: absolute;
z-index: 100;
top: 230px;
left:100px;
height: 50px;
width: 300px;
background-color: #454E53;

}
.search-container input{
    width:100%;
    font-size: 20px;
    background-color:transparent;
    border: none;
    color: white;
    

}
 .search-container .search{
flex-grow: 3;
display: flex;
align-items: center;
padding-left: 20px;
padding-right:20px ;
margin-top: 10px;
}
.search-container input:focus{
    outline: none;
}
.search i {
    font-size: 25px;
    color: white;
}
.store-list-container{
 width: 300px;
 position: absolute;
 z-index: 100;
 background-color: rgb(36, 41, 44);
 left: 100px;
 top:300px;
 bottom: 10px;
 border-radius: 30px;
 overflow-y: scroll;
 

}


 .store-list{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    align-content: center;
    
    

}
.store-container{
    
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;


}
.store-container:hover{
    background-color:rgb(98, 92, 110);
}
.store-address{
   align-items: center;
   color: rgb(84, 182, 228);
}
.store-address span{
    display:block;
}
.store-phone-number{
    color:rgb(173, 169, 177);
    margin-top: 15px;
    margin-bottom: 15px;
}

.store-number{
    width :30px;
    height: 30px;
    background-color: rgb(157, 169, 175);
    color: rgb(66, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: 12px;
    
}
.store-number-container{
    display: flex;
    justify-content: center;
    align-items: center;
    float:right;
}
.store-info-container{
    flex-grow: 1;
}
.test{
    width:150px;
    height: 80px;
    font-size: 15px;
}
#circle{
    color: white;
    width: 20px;
    height: 20px;
    background-color: darkturquoise;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 8px;
    margin-top:5px;
    
    
}
.phone{
    color: white;
    width: 20px;
    height: 20px;
    background-color: darkturquoise;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 8px;
}
#test{
    display: flex;
    font-size:10px;
}
.search i{
    cursor: pointer;
}